@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.leftpane-container {
  background-color: #add6db ;
    min-height: 100vh;
    width: 450px;
}
.leftpane-container .text-container {
    padding: 3rem;
}
.leftpane-container .text-container .logo{
    text-decoration: none;
    color:var(--light-blue);
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    font-weight: 600;
    
  }
  .leftpane-container .text-container .logo:hover {
    color: var(--dark-blue);
    
  }

  .leftpane-para{
    font-size: 1.75rem;
  }
@media screen and (max-width: 1000px) {
    .leftpane-container {
      display: none;
    }
  }