@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


.navbar{
    background-color: #d1e8eb ;
     width:  85%;
      margin: 0 auto; 
}


.nav-link {
    color: var(--blue) !important;

}
.nav-link:hover{
    color: var(--dark-blue) !important;
}
.my-profile{
    /* margin-left: 800px !important; */
}
.navbar-brand:hover{
    color: var(--dark-blue) !important;
}
.navbar-brand{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    font-weight: 600;
    color: var(--blue) !important;
}

.upload-btn:hover{
    color: white;
    background-color: var(--blue)

}
.upload-btn{
    color: white;
    padding:5px;
    border-radius: 5px;
    background: var(--light-blue);
    border-style: none;
    justify-content: center;
    align-items: center;
    margin-top:2px
}

@media screen and (width<= 900px) {
.navbar{
    width: 100%;
}

}